doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/mine.css')
    script(src='/javascripts/angular.js')
  body(ng-app)
    block content
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap.js')

